/*===== Variables =======*/

:root {
    --base-font-family: "Manrope", sans-serif;
    --base-font-size: 15px;
    --default-border-radius: 10px;
    --primary-color: #0068e0;
    --secondary-color: #00bc65;
    --color-dark: #0e1e3e;
    --color-dark-2: #626f84;
    --color-dark-3: #a0aec0;
    --color-light: #ffffff;
    --color-border: #e1e2e4;
    --color-red: #ff5748;
    --transition-200: 0.2s ease-in-out;
}

.order-details-top {
    margin-bottom: 44px;
}

.order-information {
    display: inline-block;

    h4 {
        margin-bottom: 18px;
    }

    .order-information-list {
        li {
            display: flex;
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        label {
            font-weight: var(--font-medium);
            min-width: 165px;
            margin-bottom: 0;
            padding-right: 10px;
        }

        span {
            color: var(--color-gray);
            word-break: break-all;
        }
    }

    .btn-track-order {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border: 1px solid var(--color-gray-lite);
        border-radius: var(--radius-default);
        background: var(--color-white-lite);
        padding: 0;
        transition: var(--transition-150);

        &:hover,
        &:active {
            border: 1px solid var(--color-primary-alpha-15) !important;
            background: var(--color-primary-alpha-10) !important;

            > i {
                color: var(--color-primary);
            }

            svg {
                path {
                    stroke: var(--color-primary);
                }
            }
        }

        > i {
            color: var(--color-black-20);
            transition: var(--transition-150);
        }

        svg {
            path {
                stroke: var(--color-black-20);
            }
        }
    }
}

.order-billing-details,
.order-shipping-details {
    h4 {
        margin-bottom: 18px;
    }

    address {
        > span {
            display: block;
            margin-bottom: 9px;
            color: var(--color-gray);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .order-details-top {
        margin-bottom: 39px;
    }

    .order-information {
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 576px) {
    .order-billing-details {
        margin-bottom: 33px;
    }
}
