/*rtl:begin:ignore*/
@import "jstree/dist/themes/default/style";
/*rtl:end:ignore*/

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-image: url("../images/jstree.png");
}

.jstree-default .jstree-file {
    background: url("../images/jstree.png") -100px -68px no-repeat;
}

.jstree-default .jstree-folder {
    background: url("../images/jstree.png") -260px -4px no-repeat;
}

#jstree-dnd.jstree-default .jstree-ok,
#jstree-dnd.jstree-default .jstree-er {
    background-image: url("../images/jstree.png");
}

.jstree-default-small .jstree-node,
.jstree-default-small .jstree-icon {
    background-image: url("../images/jstree.png");
}

.jstree-default-small .jstree-file {
    background: url("../images/jstree.png") -103px -71px no-repeat;
}

.jstree-default-small .jstree-folder {
    background: url("../images/jstree.png") -263px -7px no-repeat;
}

#jstree-dnd.jstree-default-small .jstree-ok,
#jstree-dnd.jstree-default-small .jstree-er {
    background-image: url("../images/jstree.png");
}

.jstree-default-large .jstree-node,
.jstree-default-large .jstree-icon {
    background-image: url("../images/jstree.png");
}

.jstree-default-large .jstree-file {
    background: url("../images/jstree.png") -96px -64px no-repeat;
}

.jstree-default-large .jstree-folder {
    background: url("../images/jstree.png") -256px 0px no-repeat;
}

#jstree-dnd.jstree-default-large .jstree-ok,
#jstree-dnd.jstree-default-large .jstree-er {
    background-image: url("../images/jstree.png");
}

.category-tree-wrap {
    display: flex;
    margin: 0 -15px;

    > .col {
        width: 50%;
        padding: 0 15px;
    }
}

.category-tree {
    margin-left: -4px;
    overflow-x: auto;
}

.add-root-category {
    display: table;
}

.add-sub-category {
    display: table;
    margin: 5px 0 10px;
}

#category-form .loading-spinner {
    margin-top: 15px;
    margin-bottom: 20px;
}

.category-details-tab {
    margin: -10px 0 0 0;
}

@media screen and (max-width: 1199px) {
    .category-tree-wrap {
        flex-direction: column;

        > .col {
            width: 100%;
        }
    }
}
